<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Gotu:300,200,200,400" rel="stylesheet">

   <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="app.css">
    <title>Hello stranger</title>
</head>

<body>
<div class="container">
      <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4"> Welcome to guessing game </h1>
            <h2>Rules are simple - just guess my secret number from 1 to 10</h2>
          </div>
      </div>
</div>
<div class="container">
    <form action="/" method="POST">
        <label>
            <strong> Hello, what is your name? <strong>
            <br>
            <br>
            <input type="text" name="name" placeholder="What is your name?" class="btn btn-outline-primary">
        </label>
        <br>
        <br>
        <button type="submit">Place my name</button>
    </form>
</div>
</body>
</html>

